body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
  }
  
  /* Animation d'apparition */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Styles pour l'arrière-plan */
  .gradient-background {
    background: url('https://i.pinimg.com/564x/fb/48/db/fb48db86382ffeeb7a4c893c88c1a902.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  /* Animation pour le papier */
  .animated-paper {
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem;
  }
  
  /* Styles pour les boutons */
  .styled-button {
    background: linear-gradient(135deg, #8d6e63 0%, #d7ccc8 100%);
    color: white;
    margin-top: 1rem;
    transition: transform 0.2s, background 0.3s;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .styled-button:hover {
    background: linear-gradient(135deg, #d7ccc8 0%, #8d6e63 100%);
  }
  
  .styled-button:active {
    transform: scale(1.05);
  }
  
  .styled-button.success {
    background: linear-gradient(135deg, #4caf50 0%, #81c784 100%);
  }
  
  /* Styles pour les champs de texte */
  .MuiTextField-root {
    transition: box-shadow 0.3s;
    margin-bottom: 1rem;
    background: #f5f5f5;
    border-radius: 4px;
    padding-left: 2.5rem;
    background-repeat: no-repeat;
    background-position: 0.75rem center;
  }
  
  #name {
    background-image: url('/src/assets/chat.png');
  }
  
  #email {
    background-image: url('/src/assets/chien.png');
  }
  
  #confirm-password {
    background-image: url('/src/assets/impressions-danimaux.png');
  }
  
  .MuiTextField-root:focus-within {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Accessibilité */
  .checkbox-label {
    display: flex;
    align-items: center;
  }
  
  .checkbox-label input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  
  /* Styles pour la barre de navigation */
  .app-bar {
    background-color: #ffffff;
    box-shadow: none;
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
  
  .toolbar .title {
    color: #795548;
  }
  
  .toolbar .link {
    color: #795548;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 1rem;
  }
  
  .toolbar .link:hover {
    text-decoration: underline;
<<<<<<< HEAD
  }
  
  
=======
  }
>>>>>>> c443947b9894d2d2ae692b3dbcf4fe0dda0e844a
